@font-face {
  font-family: 'Exo';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Exo-regular/Exo-regular.eot');
  src: url('../fonts/Exo-regular/Exo-regular.eot?#iefix') format('embedded-opentype'),
       local('Exo Regular'),
       local('Exo-regular'),
       url('../fonts/Exo-regular/Exo-regular.woff2') format('woff2'),
       url('../fonts/Exo-regular/Exo-regular.woff') format('woff'),
       url('../fonts/Exo-regular/Exo-regular.ttf') format('truetype'),
       url('../fonts/Exo-regular/Exo-regular.svg#Exo') format('svg');
}

@font-face {
  font-family: 'Exo';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Exo-700/Exo-700.eot');
  src: url('../fonts/Exo-700/Exo-700.eot?#iefix') format('embedded-opentype'),
       local('Exo Bold'),
       local('Exo-700'),
       url('../fonts/Exo-700/Exo-700.woff2') format('woff2'),
       url('../fonts/Exo-700/Exo-700.woff') format('woff'),
       url('../fonts/Exo-700/Exo-700.ttf') format('truetype'),
       url('../fonts/Exo-700/Exo-700.svg#Exo') format('svg');
}

